CONFIG_BOARD_TYPE_TAIJI_PI_S3=y
CONFIG_TAIJIPAI_I2S_TYPE_PDM=y
# CONFIG_TAIJIPAI_I2S_TYPE_STD is not set
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# CONFIG_ESP_CONSOLE_UART_DEFAULT is not set
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_LANGUAGE_ZH_CN=y
